[Unit]
Description=Raspberry Pi MP3 Player
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=piotrek
Group=piotrek
WorkingDirectory=/home/piotrek/mp3-player
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /home/piotrek/mp3-player/dist/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target